.aboutRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: var(--size-post-max);
    padding: 20px 10px;
    width: 100%;
}

.aboutColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 30px;
    width: 50%;
}

.imgRound {
    border-radius: 50%;
    max-width: 250px;
    margin: 0 auto;
}

.blogDescription {
    line-height: 30px;
    text-align: justify;
}

@media (max-width : 768px) {
    .aboutColumn {
        padding: 10px 15px;
        width: 100%;
    }
}