pre {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	color: #abb2bf;
	background: #282c34;
	padding: 15px 30px;
	border-radius: 5px;
}

pre * {
	color: #b8d8ff;
}
  
pre .token.comment {
	color: #5c6370;
	font-style: italic;
}

pre .token.keyword {
	color: #c678dd;
	font-weight: 600;
}

pre .token.function {
	color: #dcff98;
	font-weight: 600;
}

pre .token.number {
	color: #e6c07b;
	font-weight: 600;
}

pre .token.string {
	color: #e6c07b;
	font-weight: 600;
	font-style: italic;
}

pre .token.operator ,
pre .token.punctuation {
	color: white;
}

pre .token.parameter {
    color: #ffa447;
	font-style: italic;
}