.header {
    align-items: center;
    border-bottom: 1px solid var(--color-light-grey);
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: var(--size-screen-max);
    padding: 10px 20px;
    width: 100%;
}

.logo {
    margin-right: auto;
    font-size: 18px;
}

.header nav {
    display: flex;
    align-content: center;
    align-items: center;
}

.header nav a {
    padding: 5px 12px;
    display: block;
    font-size: 18px;
    border-radius: 5px;
}

.header nav a * {
    display: block;
}

@media (max-width : 475px) {
    .logo {
        font-size: 14px;
    }

    .header nav a {
        padding: 5px 6px;
        display: block;
        font-size: 14px;
        border-radius: 5px;
    }
}