.post {
    max-width: var(--size-post-max);
    margin: 0 auto;
}

.img {
    margin: 0 auto;
    display: block;
}

.share {
    display: flex;
    align-items: center;
}

.share a {
    display: block;
    margin-left: 10px;
}
