.post {
    max-width: var(--size-post-max);
    margin: 30px auto 30px auto;
}

.img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.share {
    display: flex;
    align-items: center;
}

.share a {
    display: block;
    margin-left: 10px;
}

.post pre {
    width: 100%;
}
